body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
	background: #E3E5EB;
	align-items: center;
	justify-content: center;
}
.header{
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 65px;
}
.menu{
    float: right;
    line-height: 65px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #6d6d6d;
    transition: all 500ms ease;
}
.menu a:hover{
    background: #800000;
    color: #fff;
}
.menu .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}

.espacio{
    height: 100px;
    position: inherit;
}

.fondo{
    background: url('fondo1.png');
    background-size: 100vw 100vh;
    width: 100%;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondo label{
    color: white;
    font-size: 20px;
    background-color: #800000;
    display: inherit;
    border-radius: 5px;
    border: 1px solid rgb(228, 91, 91);
}
.fondo input{
    font-size: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(228, 91, 91);
}
.fondo select{
    font-size: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(228, 91, 91);
}
